<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线影院</title>
    <meta name="keywords" content="在线影院">
    <link rel="stylesheet" href="/www/css/index.css">
    <meta name="description" content="在线影院">
    <meta name="author" content="jsd">
    <link rel="shortcut icon" href="/www/favicon.ico">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/www/css/base.css">
    {{{block ("head")}}}
</head>
<body>{{{include ("./header")}}} {{{block ("body")}}} {{{include ("./foot1")}}}
<script src="/www/js/xframe-min-1.0.js"></script>
<script src="/www/js/base.js"></script>
{{{block ("foot")}}}
</body>
</html>