<footer class="footer">
    <div class="footUp">
        <ul class="clearFix">
            <li class="li1"><p>热门频道</p><a href="javascript:;">电视剧</a><a href="javascript:;">综艺</a><a
                    href="javascript:;">电影</a><a href="javascript:;">娱乐</a><a href="javascript:;">MV</a><a
                    href="javascript:;">动漫</a><a href="javascript:;">游戏</a><a href="javascript:;">在线影院</a><a
                    href="javascript:;">英美剧</a><a href="javascript:;">纪录片</a><a href="javascript:;">新闻</a><a
                    href="javascript:;">体育</a><a href="javascript:;">生活</a></li>
            <li class="li2"><p>特色推荐</p><a href="javascript:;">原创自媒体</a><a href="javascript:;">微电影</a><a
                    href="javascript:;">电影</a><a href="javascript:;">娱乐</a></li>
            <li class="li3"><p>关于我们</p><a href="javascript:;">邮箱</a><a href="javascript:;">微信</a><a href="javascript:;">QQ</a><a
                    href="javascript:;">新浪微博</a><a href="javascript:;">网站地图</a><a href="javascript:;">投稿</a></li>
            <li class="li4"><p>服务</p><a href="javascript:;">客服</a><a href="javascript:;">反馈</a><a
                    href="javascript:;">帮助</a><a href="javascript:;">投诉</a><a href="javascript:;">合作</a></li>
        </ul>
    </div>
    <div class="footDown">
        <ul>
            <li><a href="javascript:;">关于影院 | </a><a href="javascript:;">服务条款 | </a><a href="javascript:;">广告服务 | </a><a
                    href="javascript:;">客服中心| </a><a href="javascript:;">网站导航</a></li>
            <li>Copyright © 2020 <a href=""> jsd All Rights Reserved</a></li>
            <li>201635010115 <a href="javascript:;">版权所有</a> <a href="javascript:;">在线影院</a></li>
        </ul>
    </div>
</footer>